/* Estilos para el encabezado */
header {
  background-color: green;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*logo*/
.Logo {
  display: flex;
  align-items: center;
}

.Logo h1 {
  margin: 0;
  font-size: 24px;
  display: flex;
  align-items: center; /* Add this line to align the logo text vertically with the image */
}

.Logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  order: -1; /* Add this line to change the order of the image */
}


/*Navegacion*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

header > div:last-child {
  display: flex;
  align-items: center;
}

header > div:last-child img {
  margin-right: 10px;
}

/* Estilos para la sección */
#hero {
  background-color: #ccffcc;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}

#about {
  background-color: #ffffff;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}

#meals{
  background-color: #ccffcc;
  width: 100%;
  padding: 20px 0;
  margin: 0;
}

/*diseño de cada section*/


.containers {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center; /* Centrar el contenido del contenedor */
}

.containers h1 {
  margin-bottom: 20px; /* Agregar espacio inferior al título h3 */
}

.containers div {
  margin-bottom: 10px; /* Agregar espacio inferior a los div */
}

.containers p {
  margin: 0; /* Eliminar el margen superior e inferior de los párrafos */
}
